<h2 mat-dialog-title>Modificar Persona</h2>
<mat-dialog-content class="mat-typography">

        <div>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" [(ngModel)]="data.nombre">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Apellido</mat-label>
                <input matInput type="text" [(ngModel)]="data.apellido">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Correo Electronico</mat-label>
                <input matInput type="text" [(ngModel)]="data.correoElectronico">
            </mat-form-field>
        </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Modificar</button>
</mat-dialog-actions>
